

.container {
    width: 80%;
    margin: auto;
}

.contacto {
    font-size: 35px;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: end;
}

.contacto a {
    color: #4aae20;
    margin-right: 20px;
    opacity: .7;
}

.contacto a:hover {
    opacity: 1;
}



/* MAIN */

.menu .contenedor article {
    color: #fff;
    align-items: center;
    margin-bottom: 30px;
}

.menu .contenedor article .categoria {
    color: #c9a25d;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.menu .contenedor article .nombre {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 30px;
}

.menu .contenedor article .precio {
    font-weight: 100;
    font-size: 18px;
    text-align: center;
}

.menu .contenedor article .descripcion {
    width: 100%;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 30px;
}


.menu .contenedor article .papas {
    margin: auto;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 900;
}


.platillo .papas {
    width: 100%;
    display: inline-block;
}

.platillo .papas .doritos { width: 33%; vertical-align: top; }
.platillo .papas .takis { width: 25%; vertical-align: top; }
.platillo .papas .chetos { width: 40%; vertical-align: top; }

.platillo .drinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.platillo .drinks .cocacola { width: 20%; vertical-align: top; }
.platillo .drinks .sprite { width: 20%; vertical-align: top; }
.platillo .drinks .fanta { width: 20%; vertical-align: top; }
.platillo .drinks .mundet { width: 20%; vertical-align: top; }
.platillo .drinks .fresca { width: 20%; vertical-align: top; }


/* GALRIA DE FOTOS */
main .galeria {
    text-align: center;
}

main .galeria .foto {
    width: 100%;
    display: inline;
}

main .galeria .foto img {
    width: 320px;
    height: 320px;
    margin: 20px 0;
    vertical-align: top;
    opacity: .7;
    border: 4px solid #fff;
    padding: 15px;
}

main .galeria .foto:hover img {
    opacity: 1;
    transition: all .3 ease;
    cursor: pointer;
}

/* MAPA */
main .mapa {
    text-align: center;
}

main .mapa .titulo {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

main .mapa iframe {
    width: 90%;
    max-width: 600px;
    margin-bottom: 30px;
}

/* FOOTER */
footer {
    width: 100%;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 15px 10px;
}

.domicilio {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    margin-bottom: 50px;
}

.titulo {
    font-size: 35px;
}

.telefono {
    width: 150px;
    height: 20px;
    font-size: 20px;
}

.telefono:hover {
    color: #4aae20;
}

.contenedor .moto {
    width: 30%;
    margin: auto;
}

.contenedor .moto img {
    width: 100%;
}

.contenedor a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.contenedor .fa-facebook:hover {
    color: #1877f2;
}

.contenedor .fa-instagram:hover {
    color: #833ab4;
}



.contenedor a i {
    margin-top: 30px;
}


@media screen and (min-width:600px)  {
    header .contenedor {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    main .contenedor {
        margin: auto;
        width: 90%;
    }

    main .platillo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main .categoria {
        margin-bottom: 20px;
    }

    .menu .contenedor article .precio  {
        font-size: 20px;
    }

    .menu .contenedor article .descripcion {
        font-size: 18px;
    }

    main .galeria .foto {
        margin-left: 20px;
    }

    footer .domicilio {
        margin: auto;
        width: 80%;
        margin-bottom: 50px;
    }
}

@media screen and (min-width:700px)  {
    main .mapa iframe {
        max-width: 850px;
    }
}

@media screen and (min-width:1000px)  {
    header .contenedor {
        justify-content: space-around;
    }

    .contenedor .menu a  {
        margin-right: 30px;
    }

    main .platillo .papas {
        text-align: center;
    }

    main .mapa iframe {
        max-width: 1000px;
    }
    
    .papas .doritos { width: 30%; vertical-align: top; }
    .platillo .papas .takis { width: 20%; vertical-align: top; }
    .platillo .papas .chetos { width: 30%; vertical-align: top; }

    footer .domicilio {
        margin: auto;
        width: 80%;
        margin-bottom: 50px;
    }

    footer .telefono {
        font-size: 30px;
        width: 250px;
        height: 20px;
    }

    footer .contenedor .moto {
        width: 30%;
    }

    footer .contenedor a {
        font-size: 30px;
    }
    
}